.keycontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 80vh;
  width: 180vh; */
  padding-bottom: 10px;
  /* background: url("./../../assets/images/oliviadeskmat.png");
  background-repeat: no-repeat;
  background-size: cover; */
}

.keyboard {
  /* position: inherit; */
  border: solid 1px;
  border-color: #000;
  border-radius: 6px;
  box-sizing: border-box;
  box-shadow: 0 0 0 1px rgba(16,22,26,.1), 0 1px 1px rgba(16,22,26,.2), 0 2px 6px rgba(16,22,26,.2);
  background-clip: padding-box;
  /* background: rgb(255,255,255); */
  background: linear-gradient(360deg, rgba(130,130,130,1) 0%, rgba(166,167,168,1) 75%);
  min-width: 56px;
  min-height: 56px;
  align-items: left;
  display: flex;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.keyrow {
  display: flex;
  font-size: 12px;
}


.row:not(:last-child) {
  margin-bottom: 16px;
}

.value {
  font-size: 78px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 2px;
  font-family: 'Courier New', Courier, monospace;
}

.button {
  appearance: none;
  background: none;
  font-size: 32px;
  padding-left: 12px;
  padding-right: 12px;
  outline: none;
  border: 2px solid transparent;
  color: rgb(112, 76, 182);
  padding-bottom: 4px;
  cursor: pointer;
  background-color: rgba(112, 76, 182, 0.1);
  border-radius: 2px;
  transition: all 0.15s;
}

.textarea {
  font-size: 16px;
  padding: 2px;
  width: 1440px;
  height: 256px;
  /* text-align: center; */
  margin-right: 8px;
  resize: none;
}

.button:hover, .button:focus {
  border: 2px solid rgba(112, 76, 182, 0.4);
}

.button:active {
  background-color: rgba(112, 76, 182, 0.2);
}
