.keywrapper {
  min-height: 83vh;
  /* margin-top: 2vh; */
  margin-bottom: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.2s linear;
}

.keywrapper:focus {
  outline: none;
}

.keycontainer {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.keyboard {
  border-color: #000;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
  background-clip: padding-box;
  min-width: 56px;
  min-height: 56px;
  align-items: left;
  display: flex;
}

.keyrow {
  display: flex;
  font-size: 12px;
}

.value {
  font-size: 78px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 2px;
  font-family: "Courier New", Courier, monospace;
}

.button {
  appearance: none;
  background: none;
  font-size: 32px;
  padding-left: 12px;
  padding-right: 12px;
  outline: none;
  border: 2px solid transparent;
  color: rgb(112, 76, 182);
  padding-bottom: 4px;
  cursor: pointer;
  background-color: rgba(112, 76, 182, 0.1);
  border-radius: 2px;
  transition: all 0.15s;
}

.textarea {
  font-size: 16px;
  padding: 2px;
  width: 1440px;
  height: 256px;
  margin-right: 8px;
  resize: none;
}

.button:hover,
.button:focus {
  border: 2px solid rgba(112, 76, 182, 0.4);
}

.button:active {
  background-color: rgba(112, 76, 182, 0.2);
}

.selectcontainer {
  /* margin-left: auto;
  margin-right: auto; */
  /* box-shadow: rgba(0, 0, 0, 0.17) 1px 1px 4px; */
  /* border-radius: 5px; */
  border: 3px solid;
  transition: background 0.2s linear, border-color 0.2s linear;
  /* background: #fff; */
  margin-bottom: 2vh;
  width: 832px;
  max-width: 80vw;
}

.selectarea {
  display: flex;
  /* flex-direction: wrap; */
}

.selectcol {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.mutecol {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  transition: color 0.2s linear;
}

.mutebox {
  align-items: center;
  font-size: 16px;
}

.dropdown {
  display: block;
  flex-grow: 1;
  font-size: 16px;
  font-family: roboto;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  box-sizing: border-box;
  margin: 0;
  transition: border 0.2s linear, background 0.2s linear, color 0.2s linear;
  outline: none;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 1em auto, 100%;
}

.dropdown.light {
  border: 2px solid #9e9e9e;
  background-image: url("../../assets/images/expand-light.png");
}

.dropdown.light:focus {
  border: 2px solid #212121;
}

.dropdown.dark {
  border: 2px solid #616161;
  background-image: url("../../assets/images/expand-dark.png");
}

.dropdown.dark:focus {
  border: 2px solid #ffffff;
}

/* Hide arrow icon in IE browsers */
.dropdown::-ms-expand {
  display: none;
}

.dropdown option {
  font-weight: normal;
}

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir="rtl"] .dropdown,
:root:lang(ar) .dropdown,
:root:lang(iw) .dropdown {
  background-position: left 0.7em top 50%, 0 0;
  padding: 0.6em 0.8em 0.5em 1.4em;
}

.typingplaceholder {
  display: inline-block;
  text-align: left;
  border: 3px solid;
  height: 11.72rem;
  margin-bottom: 24px;
  width: 832px;
  max-width: 80vw;
}
