.word {
  padding: 0.5rem;
  display: inline-block;
  font-size: 1.5rem;
  border-radius: 5px;
  /* transition: color 0.2s linear; */
}

.word.dark {
  color: #fff;
}

.word.light {
  color: #000;
}

.word.correct {
  color: #3ab049;
}

.word.incorrect {
  color: #fe0000;
}

.word.active.light {
  background: #e0e0e0;
}

.word.active.dark {
  background: #454545;
}
