.keycap,
.keycap div {
  position: absolute;
  box-sizing: border-box;
  background-clip: border-box;
}

.keyborder {
  border-width: 1px;
  border-style: solid;
  border-color: #000;
  border-radius: 5px;
  /* background-color: #cccccc; */
  box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 0px 2px rgba(16, 22, 26, 0.2),
    0 0px 1px rgba(16, 22, 26, 0.2);
}

.keytop {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: #fcfcfc;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 1px 1px rgba(16, 22, 26, 0.2),
    0 1px 1px rgba(16, 22, 26, 0.2);
}

.keylegends {
  padding: 3px;
  font-size: 13px !important;
  line-height: 1em;
}

.keylegend > div {
  text-align: left;
  vertical-align: top;
  display: table-cell;
  position: static !important;
}

.keysublegend > div {
  text-align: left;
  vertical-align: bottom;
  display: table-cell;
  position: static !important;
}

.keypressed {
  display: none;
}
